.listContainer {
  th {
    border-bottom: 1px solid black;
  }

  tr:nth-child(2n) {
    background-color: lightgray;
  }

  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

.filterContainer {
  margin-bottom: 10px;
}
